body {
  background: #E5E5E5; }

h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.btn {
  -webkit-appearance: none; }

.btn_big {
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 9px 16px;
  background: #333333;
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF; }

.btn_transaprent {
  outline: none;
  cursor: pointer;
  border: 0;
  background: #FFE902;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 16px;
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #0F2235; }

.hero {
  background: #F2F2F2 url(../img/hero__video.png) no-repeat center center; }
  .hero .hero__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 110%;
    color: #FFFFFF;
    width: 690px;
    padding-top: 135px;
    padding-bottom: 32px; }
  .hero .hero__subtitle {
    display: block;
    width: 690px;
    margin-bottom: 64px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF; }
  .hero .btn_transaprent {
    margin-bottom: 135px; }

.header {
  border-bottom: 1px solid #F2F2F2;
  background: #FFFFFF;
  min-height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header .call-back__link {
    padding-right: 32px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #303030; }
  .header .btn_transaprent {
    font-weight: 600; }

.about {
  background: #FFFFFF; }
  .about .wrapper {
    padding-bottom: 104px; }
  .about .about__title {
    width: 588px;
    padding-top: 104px;
    padding-bottom: 80px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #0F2235; }
  .about .about__slills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .about .skill__title {
    -ms-flex-preferred-size: content;
    flex-basis: content;
    padding-bottom: 24px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
    color: #0F2235; }
    .about .skill__title .skill__title_gray {
      padding-left: 8px;
      font-size: 32px;
      line-height: 40px;
      color: #47A1F8; }
  .about .skill__subtitle {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #0F2235; }

.services {
  background: #47A1F8; }
  .services .wrapper {
    padding-bottom: 104px; }
  .services .services__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 64px; }
  .services .services-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .services .services-boxes .service-box {
      width: 282px;
      background: #FFFFFF; }
    .services .services-boxes .service-box__icon {
      display: block;
      padding-left: 24px;
      padding-top: 32px;
      padding-bottom: 24px; }
    .services .services-boxes .service-box__description {
      display: block;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      color: #0F2235;
      padding-left: 24px;
      padding-bottom: 32px; }

.advantages {
  background: #FFFFFF;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .advantages .advantages__img {
    width: 50%;
    max-height: 572px; }
  .advantages .advantages__content {
    padding-left: 114px;
    padding-right: 120px; }
  .advantages .advatages__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #0F2235;
    padding-bottom: 25px; }
  .advantages .advantages__description {
    max-width: 384px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #0F2235; }

.sales {
  background: #FFFFFF;
  height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .sales .brands {
    margin: 0 5%; }
    .sales .brands .brands__img {
      width: 100%; }
  .sales .sales-container {
    width: 708px;
    height: 100%;
    background: url(../img/handmoney.svg) no-repeat bottom right #47A1F8; }
  .sales .sales-container__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 80px;
    padding-left: 102px;
    padding-bottom: 10px; }
  .sales .sales-container__text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #f2f2f2;
    display: block;
    max-width: 280px;
    padding-left: 102px; }

.calculator {
  background: #FFFFFF; }
  .calculator .wrapper {
    padding: 80px 0; }
  .calculator .calculator__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #0F2235;
    padding-bottom: 40px; }
  .calculator .quiz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .calculator .quiz__content {
    width: 792px;
    height: 533px;
    border: 1px solid #E0E0E0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.quiz__form {
  height: 447px; }
  .quiz__form .form__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #0F2235;
    padding: 24px 32px;
    border-bottom: 1px solid #E0E0E0; }
  .quiz__form .form__content {
    padding: 0 32px; }
  .quiz__form .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding: 32px 0; }
    .quiz__form .form__item:last-child {
      border: none; }
    .quiz__form .form__item .form__lable {
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: #0F2235; }
    .quiz__form .form__item .form__list {
      width: 592px;
      border: 1px solid #E0E0E0;
      border-right: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .quiz__form .form__item .list__item {
      background: #FFFFFF;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      text-align: center;
      padding-top: 8px;
      height: 40px;
      border-right: 1px solid #E0E0E0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #0F2235;
      cursor: pointer; }
    .quiz__form .form__item .item_active {
      background: #FFE902;
      color: #0F2235; }
    .quiz__form .form__item .form__number {
      width: 564px;
      height: 40px;
      border: 1px solid #E0E0E0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      color: #0F2235;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      padding-left: 16px; }
      .quiz__form .form__item .form__number::-webkit-input-placeholder {
        color: #BDBDBD; }
      .quiz__form .form__item .form__number:-ms-input-placeholder {
        color: #BDBDBD; }
      .quiz__form .form__item .form__number::-ms-input-placeholder {
        color: #BDBDBD; }
      .quiz__form .form__item .form__number::placeholder {
        color: #BDBDBD; }

.design-boxes {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .design-boxes .design-box {
    position: relative;
    border: 1px solid #E0E0E0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 350px;
    cursor: pointer; }
    .design-boxes .design-box .design-box__title {
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: #0F2235;
      padding-top: 16px;
      padding-left: 16px; }
    .design-boxes .design-box .design-box__text {
      display: block;
      max-width: 320px;
      padding-top: 8px;
      padding-bottom: 14px;
      padding-left: 16px;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      color: #828282; }
    .design-boxes .design-box .design__check {
      bottom: 18rem;
      left: 21rem; }

.coverings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px; }
  .coverings .covering__box {
    position: relative;
    margin-bottom: 24px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 226px;
    border: 1px solid #E0E0E0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer; }
  .coverings .coverings__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: #0F2235;
    padding: 8px 16px; }
  .coverings .covering__check {
    bottom: 9rem;
    left: 13.2rem; }

.form-body-end {
  padding: 72px;
  position: relative; }
  .form-body-end .form-body-end__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #0F2235;
    padding-top: 40px; }
  .form-body-end .form-body-end__arrow {
    position: absolute;
    left: 22rem;
    top: 8.5rem; }
  .form-body-end .form-body-end__text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #0F2235; }

.form-body {
  display: none; }
  .form-body .form__img {
    width: 100%; }

.active {
  display: block !important; }

.check {
  display: none;
  position: absolute; }

.form__area .form__lable {
  padding-left: 4px; }

.quiz__steps {
  padding: 24px 32px;
  border-top: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .quiz__steps .scale__text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #0F2235; }
  .quiz__steps .progress-bar {
    margin-top: 8px;
    width: 549px;
    height: 4px;
    background: #F2F2F2;
    border-radius: 2px; }
    .quiz__steps .progress-bar .progress-bar_gray {
      display: block;
      width: 16.6%;
      height: 4px;
      background: #FFE902;
      border-radius: 2px; }
  .quiz__steps .back {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    border: 1px solid #4F4F4F;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50px;
    background: #FFFFFF;
    outline: none;
    cursor: pointer; }
  .quiz__steps .back__img {
    width: 18px; }
  .quiz__steps .forward {
    width: 107px;
    height: 32px;
    background: #47A1F8 url(../img/btn__arrow_white.svg) no-repeat 80% 50%;
    border: 0;
    border-radius: 50px;
    padding-right: 38px;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF; }

.calculator__content {
  height: 533px;
  width: 384px;
  border: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.repair-cost {
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 23px;
  background: #F2F2F2; }
  .repair-cost .repair-cost__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: #0F2235;
    padding-bottom: 6px; }
  .repair-cost .repair-cost__price {
    padding-bottom: 8px;
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #333333; }
  .repair-cost .repair-cost__included {
    display: inline-block;
    margin-bottom: 28px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #828282;
    border-bottom: 1px dashed #828282;
    cursor: pointer; }
  .repair-cost .repair-cost__deadline {
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #333333; }

.loyalty-program {
  padding: 24px; }
  .loyalty-program .loyalty-program__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #0F2235;
    padding-bottom: 16px; }
  .loyalty-program .loyalty-program__description {
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 110%;
    color: #333333;
    padding-bottom: 16px; }
  .loyalty-program .loyalty-program__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .loyalty-program .loyalty-program__form .loyalty-program__input {
      width: 315px;
      height: 40px;
      margin-bottom: 8px;
      padding-left: 16px;
      outline: none;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #0F2235; }
      .loyalty-program .loyalty-program__form .loyalty-program__input::-webkit-input-placeholder {
        color: #BDBDBD; }
      .loyalty-program .loyalty-program__form .loyalty-program__input:-ms-input-placeholder {
        color: #BDBDBD; }
      .loyalty-program .loyalty-program__form .loyalty-program__input::-ms-input-placeholder {
        color: #BDBDBD; }
      .loyalty-program .loyalty-program__form .loyalty-program__input::placeholder {
        color: #BDBDBD; }
    .loyalty-program .loyalty-program__form .btn_big {
      margin-top: 8px; }
    .loyalty-program .loyalty-program__form .loyalty-program__agree-text {
      padding-top: 8px;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 110%;
      color: #BDBDBD; }

.work-stages {
  background: #47A1F8; }
  .work-stages .wrapper {
    padding: 80px 0; }
  .work-stages .work-stages__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF; }
  .work-stages .stages {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .work-stages .stage-box {
    max-width: 366px; }
  .work-stages .stage-box__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
    background: url(../img/stage-arrow.svg) no-repeat 95% 28%;
    padding-bottom: 19px; }
  .work-stages .nobg {
    background: none; }
  .work-stages .stage-box__desription {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #F2F2F2; }

.object-map {
  background: #FFFFFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .object-map .object-map__content {
    padding-left: 120px;
    margin-right: 5%; }
  .object-map .object-map__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #0F2235;
    padding-bottom: 64px; }
  .object-map .object {
    padding: 16px 15px;
    border: 1px solid #E0E0E0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .object-map .object .object__text {
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: #0F2235;
      padding-left: 30px; }
  .object-map .map {
    width: 50%; }

.questions {
  background: #47A1F8; }
  .questions .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .questions .questions__content {
    border-right: 1px solid #F2F2F2;
    margin: 32px 0;
    padding-right: 50px; }
  .questions .questions__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF; }
  .questions .questions__description {
    display: block;
    max-width: 434px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF; }
  .questions .form__input {
    border: 1px solid #FFFFFF;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    padding: 8px 16px;
    margin-right: 24px;
    margin-bottom: 8px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF; }
    .questions .form__input::-webkit-input-placeholder {
      color: #FFFFFF; }
    .questions .form__input:-ms-input-placeholder {
      color: #FFFFFF; }
    .questions .form__input::-ms-input-placeholder {
      color: #FFFFFF; }
    .questions .form__input::placeholder {
      color: #FFFFFF; }
  .questions .form__agree-text {
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF; }
  .questions .btn_transaprent {
    background: none;
    border: 1px solid #FFFFFF;
    padding: 8px 16px;
    color: #FFFFFF; }

.works {
  background: #FFFFFF; }
  .works .works__content {
    padding-top: 82px;
    padding-left: 122px; }
  .works .works-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .works .works-header .works-arrows {
      margin-right: 120px; }
      .works .works-header .works-arrows .arrow {
        width: 48px;
        height: 48px;
        border: none;
        outline: none;
        cursor: pointer; }
      .works .works-header .works-arrows .prev-arrow {
        background: #FFE902 url(../img/arrow__works.svg) no-repeat 50% 50%;
        background-size: 24px;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        margin-right: 8px; }
      .works .works-header .works-arrows .next-arrow {
        background: #FFE902 url(../img/arrow__works.svg) no-repeat 50% 50%;
        background-size: 24px; }
      .works .works-header .works-arrows .slick-disabled {
        background: #E0E0E0 url(../img/arrow__works.svg) no-repeat 50% 50%; }
  .works .works__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #0F2235; }
  .works .works-slider {
    margin-top: 58px;
    padding-bottom: 50px;
    overflow: hidden; }
  .works .works-slider__item {
    width: 720px;
    height: 500px;
    outline: none;
    margin-right: 32px;
    background: url(../img/slider__img.png) no-repeat center; }
  .works .works-slider__title {
    margin: 0;
    padding-left: 40px;
    padding-top: 40px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: #0F2235; }
  .works .works-more {
    display: inline-block;
    background: url(../img/black-arrow.svg) no-repeat 100% 98.2%;
    padding-left: 564px;
    padding-top: 371px;
    width: 136px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #0F2235;
    cursor: pointer; }

.feedback {
  background: #FFFFFF; }
  .feedback .wrapper {
    padding-top: 30px; }
  .feedback .feedback-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .feedback .feedback__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #0F2235; }
  .feedback .feedback-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 40px; }
  .feedback .feedback-box {
    border: 1px solid #E0E0E0;
    margin-bottom: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 588px;
    max-height: 282px;
    display: none; }
    .feedback .feedback-box .feedback-box__content {
      padding: 32px; }
    .feedback .feedback-box .feedback-box__title {
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 110%;
      color: #0F2235; }
    .feedback .feedback-box .feedback-box__text {
      width: 524px;
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 120%;
      color: #828282; }
  .feedback .feedback__btn-next {
    margin-top: 24px;
    margin-bottom: 56px; }
  .feedback .noContent {
    border: none; }

.footer {
  background: #47A1F8; }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 0; }
  .footer .footer__call-back {
    border-right: 1px solid #F2F2F2;
    padding-right: 200px; }
  .footer .footer__title {
    max-width: 360px;
    margin-top: 20px;
    padding-bottom: 24px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
  .footer .footer__subtitle {
    display: block;
    max-width: 460px;
    padding-bottom: 32px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #F2F2F2; }
  .footer .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer .footer-form__input {
    margin-bottom: 16px;
    padding-left: 8px;
    width: 384px;
    height: 33px;
    opacity: 0.6;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
    .footer .footer-form__input::-webkit-input-placeholder {
      color: #FFFFFF; }
    .footer .footer-form__input:-ms-input-placeholder {
      color: #FFFFFF; }
    .footer .footer-form__input::-ms-input-placeholder {
      color: #FFFFFF; }
    .footer .footer-form__input::placeholder {
      color: #FFFFFF; }
  .footer .footer-form__text {
    max-width: 384px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #F2F2F2; }
  .footer .btn_transaprent {
    margin-top: 24px;
    margin-bottom: 20px;
    color: #0F2235;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .footer .communication-options {
    padding-left: 100px; }
  .footer .communication-options__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
  .footer .communication-options__box {
    padding-right: 15px; }
  .footer .communication-options__desription {
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F2F2F2;
    padding-bottom: 8px; }
  .footer .communication-options__text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF; }
  .footer .chats__names {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .footer .chat-boxes {
    margin-top: 20px;
    margin-bottom: 70px; }
  .footer .chat {
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 8px 16px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
  .footer .agree-link {
    display: inline-block;
    margin-bottom: 17px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF; }
  .footer .agree__info {
    display: block;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF; }
