@mixin fontH1($color) {
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 110%;
	color: $color;
}

@mixin fontH2($color) {
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 110%;
	color: $color;
}

@mixin fontH3($color) {
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	color: $color;
}

@mixin fontH4($color) {
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 110%;
	color: $color;
}

@mixin fontP($color) {
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 120%;
	color: $color;
}

@mixin fontBtn($fontSize, $color){
	font-family: 'Montserrat',sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: $fontSize;
	line-height: 28px;
	color: $color;
}

@mixin flexble($align,$content){
	display: flex;
	align-items: $align;
	justify-content: $content;
}

@mixin btnTra{
	outline: none;
	cursor: pointer;
	border:0;
	background: $yellow;
	box-sizing: border-box;
	padding: 9px 16px;
	@include fontBtn(16px, $black);
}

@mixin btnBig{
	outline: none;
	cursor: pointer;
	border:0;
	padding: 9px 16px;
	background: #333333;
	@include fontBtn(18px,$white);
}

