@import './mixins.scss';
@import './variables.scss';

body{
	background: #E5E5E5;;
}

h1,h2,h3,h4,ul{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

.wrapper{
	width: 95%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.btn{
	-webkit-appearance: none;
}

.btn_big{
	@include btnBig;
}

.btn_transaprent{
	@include btnTra;
}

.call-back__icon{
	display: none;
}

.hero{
	background: #F2F2F2 url(../img/hero__video.png) no-repeat center center;
	background-size: 100% 100%;
	.hero__title{
		@include fontH1($white);
		width: 690px;
		padding-top: 135px;
		padding-bottom: 32px;
	}
	.hero__subtitle{
		display: block;
		width: 690px;
		margin-bottom: 64px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		color: $white;
	}
	.btn_transaprent{
		margin-bottom: 135px;
	}
}

.header{
	border-bottom: 1px solid #F2F2F2;;
	background: $white;
	min-height: 92px;
	@include flexble(center, space-between);
	.wrapper{
		@include flexble(center, space-between);
	}
	.call-back__link{
		padding-right: 32px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		color: #303030;
	}
	.btn_transaprent{
		font-weight: 600;
	}
}

.about{
	background: $white;
	.wrapper{
		padding-bottom:104px;
	}
	.about__title{
		width: 588px;
		padding-top: 104px;
		padding-bottom: 80px;
		@include fontH2($black, 40px)
	}
	.about__slills{
		@include flexble(center, space-between)
	}
	.skill__title{
		flex-basis: content;
		padding-bottom: 24px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 96px;
		line-height: 100%;
		color: $black;
		.skill__title_gray{
			padding-left: 8px;
			font-size: 32px;
			line-height: 40px;
			color: $blue;
		}
	}
	.skill__subtitle{
		@include fontP($black, 18px);
	}
}

.services{
	background: $blue;
	.wrapper{
		padding-bottom: 104px;
	}
	.services__title{
		@include fontH2($white, 40px);
		padding-top: 80px;
		padding-bottom: 64px;
	}
	.services-boxes{
		@include flexble(center, space-between);

		.service-box{
			width: 282px;
			background: $white;
		}
		.service-box__icon{
			display: block;
			padding-left: 24px;
			padding-top: 32px;
			padding-bottom: 24px;
		}
		.service-box__description{
			display: block;
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 110%;
			color: $black;
			padding-left: 24px;
			padding-bottom: 32px;
		}
	}
}

.advantages{
	background: $white;
	padding: 80px 0;
	@include flexble(center,space-between);
	.advantages__img{
		width: 50%;
		max-height: 572px
		
	}
	.advantages__content{
		padding-left: 114px;
		padding-right: 120px;
	}
	.advatages__title{
		@include fontH2($black, 40px);
		padding-bottom: 25px;
	}
	.advantages__description{
		max-width:384px;
		@include fontP($black, 18px);
	}
}

.sales{
	background: $white;
	height: 610px;
	@include flexble(center,space-between);
	.brands{
		width: 50%;
		display: flex;
		justify-content: center;
	}
	.sales-container{
		width: 50%;
		height: 100%;
		background: url(../img/handmoney.svg) no-repeat bottom right $blue;
	}
	.sales-container__title{
		@include fontH2($white, 40px);
		padding-top: 80px;
		padding-left: 102px;
		padding-bottom: 10px;
	}
	.sales-container__text{
		@include fontP(#f2f2f2, 18px);
		display: block;
		max-width: 280px;
		padding-left: 102px;

	}
}

.calculator{
	background: $white;
	.wrapper{
		padding: 80px 0;
	}
	.calculator__title{
		@include fontH2($black, 40px);
		padding-bottom: 40px;
	}
	.quiz{
		@include flexble(center, space-between)
	}
	.quiz__content{
		width: 65%;
		height: 533px;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
	}
}

.quiz__form{
	height: 447px;
	.form__title{
		@include fontH3($black, 24px);
		padding: 24px 32px;
		border-bottom: 1px solid #E0E0E0;
	}
	.form__content{
		padding: 0 32px;
	}
	.form__item{
		@include flexble(center, space-between);
		border-bottom: 1px solid #EEEEEE;
		padding: 32px 0;
		&:last-child{
			border:none;
		}
		.form__lable{
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			color: $black;
		}
		.form__list{
			width: 592px;
			border: 1px solid #E0E0E0;
			border-right: none;
			@include flexble(center,space-around);
		}
		.list__item{
			background: $white;
			flex-basis: 50%;
			text-align: center;
			padding-top: 8px;
			height: 40px;
			border-right: 1px solid #E0E0E0;
			box-sizing: border-box;
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			cursor: pointer;
		}
		.item_active{
			background: $yellow;
			color: $black;
		}
		.form__number{
			width: 564px;
			height: 40px;
			border: 1px solid #E0E0E0;
			box-sizing: border-box;
			outline: none;
			color: $black;
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			padding-left: 16px;
			&::placeholder{
				color: #BDBDBD;
			}
		}
	}
}

.design-boxes{
	padding-top: 32px;
	@include flexble(flex-start, space-between);
	.design-box{
		position: relative;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		max-width: 350px;
		cursor: pointer;
		.design-box__title{
			@include fontH4($black);
			padding-top: 16px;
			padding-left: 16px;
		}
		.design-box__text{
			display: block;
			max-width: 320px;
			padding-top: 8px;
			padding-bottom: 14px;
			padding-left: 16px;
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: #828282;
		}
		.design__check{
			bottom:18rem;
			left: 21rem;
		}
	}
}

.coverings{
	@include flexble(flex-start,flex-start);
	flex-wrap: wrap;
	padding-top: 15px;
	.covering__box{
		position: relative;
		margin-bottom: 24px;
		margin-left: 8px;
		margin-right: 8px;
		max-width: 219px;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		cursor: pointer;
	}
	.coverings__title{
		@include fontH4($black);
		padding:8px 16px;
	}
	.covering__check{
		bottom: 9rem;
		left: 13rem;
	}
}

.form-body-end{
	padding:72px;
	position: relative;
	.form-body-end__title{
		@include fontH3($black, 24px);
		padding-top: 40px;
	}
	.form-body-end__arrow{
		position: absolute;
		left: 22rem;
		top:8.5rem;
	}
	.form-body-end__text{
		@include fontP($black, 18px);
	}
}

.form-body{
	display: none;
	.form__img{
		width: 100%;
	}
}

.active{
	display: block !important;

}

.check{
	display: none;
	position: absolute;
}

.form__area{
	.form__lable{
		padding-left: 4px;
	}
}

.quiz__steps{
	padding: 24px 32px;
	border-top: 1px solid #E0E0E0;
	@include flexble(center, space-between);
	.scale__text{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		color: $black;
	}
	.progress-bar{
		margin-top: 8px;
		width: 549px;
		height: 4px;
		background: #F2F2F2;
		border-radius: 2px;
		.progress-bar_gray{
			display: block;
			width: 16.6%; 
			height: 4px;
			background: $yellow;
			border-radius: 2px;
		}
	}
	.step__buttons{
		display: flex;
	}
	.back{
		margin-right: 8px;
		width: 32px;
		height: 32px;
		opacity: 0.4;
		border: 1px solid #4F4F4F;
		box-sizing: border-box;
		border-radius: 50px;
		background:#FFFFFF;
		outline: none;
		cursor: pointer;
	}
	.back__img{
		width: 18px;
	}
	.forward{
		width: 107px;
		height: 32px;
		background: $blue url(../img/btn__arrow_white.svg) no-repeat 80% 50%;
		border:0;
		border-radius: 50px;
		padding-right: 38px;
		outline: none;
		cursor: pointer;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: $white;
	}
}

.calculator__content{
	height: 533px;
	width: 33%;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
}

.repair-cost{
	padding-top: 32px;
	padding-bottom: 24px;
	padding-left:23px;
	background: #F2F2F2;
	.repair-cost__title{
		@include fontH4($black);
		padding-bottom: 6px;
	}
	.repair-cost__price{
		padding-bottom: 8px;
		display: block;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 100%;
		color: #333333;
	}
	.repair-cost__included{
		display: inline-block;
		margin-bottom: 28px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 100%;
		color: #828282;
		border-bottom: 1px dashed #828282;
		cursor: pointer;
	}
	.repair-cost__deadline{
		display: block;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 100%;
		color: #333333;
	}
}

.loyalty-program{
	padding:24px;
	.loyalty-program__title{
		@include fontH3($black, 24px);
		padding-bottom: 16px;
	}
	.loyalty-program__description{
		display: inline-block;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 110%;
		color: #333333;
		padding-bottom: 16px;
	}
	.loyalty-program__form{
		@include flexble(flex-start,flex-start);
		flex-direction: column;
		.loyalty-program__input{
			width: 315px;
			height: 40px;
			margin-bottom: 8px;
			padding-left: 16px;
			outline: none;
			background: #FFFFFF;
			border: 1px solid #E0E0E0;
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			&::placeholder{
				color: #BDBDBD;
			}
		}
		.btn_big{
			margin-top: 8px;
		}
		.loyalty-program__agree-text{
			padding-top: 8px;
			font-family: 'Montserrat',sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 110%;
			color: #BDBDBD;
		}
	}
}

.work-stages{
	background: $blue;
	.wrapper{
		padding:80px 0;
	}
	.work-stages__title{
		@include fontH2($white, 40px);
	}
	.stages{
		margin-top: 64px;
		@include flexble(flex-start,space-between);
	}
	.stage-box{
		max-width: 366px;
	}
	.stage-box__title{
		@include fontH3($white, 24px);
		background:url(../img/stage-arrow.svg) no-repeat 95% 28%;
		padding-bottom: 19px;
	}
	.nobg{
		background: none;
	}
	.stage-box__desription{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: #F2F2F2;
	}
}

.object-map{
	background: $white;
	width: 100%;
	@include flexble(center,space-between);
	.object-map__content{
		padding-left: 120px;
		margin-right: 5%;
	}
	.object-map__title{
		@include fontH2($black, 40px);
		padding-bottom: 64px;
	}
	.object{
		padding: 16px 15px;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		margin-bottom: 16px;
		@include flexble(center,flex-start);
		.object__text{
			@include fontH4($black);
			padding-left: 30px;
		}
	}
	.map{
		width: 50%;
		iframe{
			width:100%
		}
	}
}

.questions{
	background: $blue;
	.wrapper{
		@include flexble(center,space-between);
	}
	.questions__content{
		border-right: 1px solid #F2F2F2;
		margin: 32px 0;
		padding-right: 50px;
	}
	.questions__title{
		@include fontH3($white, 24px);
	}
	.questions__description{
		display: block;
		max-width: 434px;
		@include fontP($white, 18px);
	}
	.form{
		display: flex;
	}
	.form__input{
		width: 220px;
		border: 1px solid $white;
		outline: none;
		box-sizing: border-box;
		background: none;
		padding: 8px 16px;
		margin-right: 24px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		color: $white;
		&::placeholder{
			color: $white;
		}
	}
	.form__agree-text{
		margin-top: 8px;
		display: block;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: $white;
	}
	.btn_transaprent{
		background:none;
		border: 1px solid #FFFFFF;
		padding: 8px 16px;
		color:$white;
	}
}

.works{
	background: $white;
	.works__content{
		padding-top: 82px;
		padding-left: 122px;
	}
	.works-header{
		@include flexble(center,space-between);
		.works-arrows{
			margin-right: 120px;
			.arrow{
				width: 48px;
				height: 48px;
				border: none;
				outline: none;
				cursor: pointer;
			}
			.prev-arrow{
				background: $yellow url(../img/arrow__works.svg) no-repeat 50% 50% ;
				background-size: 24px;
				transform: rotate(-180deg);
				margin-right: 8px;
			}
			
			.next-arrow{
				background: $yellow url(../img/arrow__works.svg) no-repeat 50% 50%;
				background-size: 24px;
			}
			.slick-disabled{
				background: #E0E0E0 url(../img/arrow__works.svg) no-repeat 50% 50%;
			}
		}
	}
	.works__title{
		@include fontH2($black, 40px);
	}
	.works-slider{
		margin-top: 58px;
		padding-bottom: 50px;
		overflow: hidden;
	}
	
	.works-slider__item{
		position: relative;
		width: 720px;
		height: 500px;
		outline: none;
		margin-right: 32px;
		background:url(../img/slider__img.png) no-repeat center;
	}
	
	.works-slider__title{
		margin: 0;
		padding-left: 40px;
		padding-top: 40px;
		@include fontH3($black, 24px);
	}
	
	.works-more{
		position: absolute;
		background: url(../img/black-arrow.svg) no-repeat 100% 50%;
		bottom: 2rem;
    	right: 1rem;
		width: 136px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		color: $black;
		cursor: pointer;
	}
}

.feedback{
	background: $white;
	.wrapper{
		padding-top: 30px;
	}
	.feedback-header{
		@include flexble(center,space-between);
	}
	.feedback__title{
		@include fontH2($black, 40px);
	}
	.feedback-boxes{
		@include flexble(flex-start,space-between);
		flex-wrap: wrap;
		padding-top: 40px;
	}
	.feedback-box{
		border: 1px solid #E0E0E0;
		margin-bottom: 24px;
		box-sizing: border-box;
		max-width: 588px;
		max-height: 282px;
		display: none;
		.feedback-box__content{
			padding:32px;
		}
		.feedback-box__title{
			@include fontH3($black, 24px);
		}
		.feedback-box__text{
			width: 524px;
			@include fontP(#828282, 18px);
		}
	}
	.feedback__btn-next{
		margin-top: 24px;
		margin-bottom: 56px;
	}
	.noContent{
		border:none;
	}
}

.footer{
	background: $blue;
	.wrapper{
		@include flexble(center, space-between);
		padding: 40px 0;
	}
	.footer__call-back{
		border-right: 1px solid #F2F2F2;
		padding-right: 200px;
	}
	.footer__title{
		max-width: 360px;
		margin-top: 20px;
		padding-bottom: 24px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 34px;
		letter-spacing: 0.01em;
		color: $white;
	}
	.footer__subtitle{
		display: block;
		max-width: 460px;
		padding-bottom: 32px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 18px;
		color: #F2F2F2;
	}
	.footer-form{
		@include flexble(flex-start, flex-start);
		flex-direction: column;
	}
	.footer-form__input{
		margin-bottom: 16px;
		padding-left: 8px;
		width: 384px;
		height: 33px;
		opacity: 0.6;
		background: none;
		outline: none;
		border: none;
		border-bottom: 1px solid #FFFFFF;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 24px;
		letter-spacing: 0.01em;
		color: #FFFFFF;
		&::placeholder{
			color: #FFFFFF;
		}
	}
	.footer-form__text{
		max-width: 384px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 10px;
		line-height: 15px;
		letter-spacing: 0.01em;
		color: #F2F2F2;
	}
	.btn_transaprent{
		margin-top: 24px;
		margin-bottom: 20px;
		color:$black;
		border:0;
		box-sizing: border-box;
	}
	.communication-options{
		padding-left: 100px;
	}
	.communication-options__boxes{
		@include flexble(flex-start,space-between);
		margin-bottom: 40px;
	}
	.communication-options__box{
		padding-right: 15px;
	}
	.communication-options__desription{
		display: block;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #F2F2F2;
		padding-bottom: 8px;
	}
	.communication-options__text{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;
		color: #FFFFFF;
	}
	.chats__names{
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: $white;
	}
	.chat-boxes{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	.chat{
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		margin-right: 8px;
		padding:8px 16px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 0.01em;
		color: $white;
	}
	.agree-link{
		display: inline-block;
		margin-bottom: 17px;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		border-bottom: 1px solid $white;
		color: $white;
	}
	.agree__info{
		display: block;
		font-family: 'Montserrat',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: $white;
	}
}

@media screen and (max-width: 1250px){
	.hero{
		.hero__title{
			font-size: 45px;
		}
		.hero__subtitle{
			font-size: 20px;
		}
	}

	.about{
		.about__title{
			width: 500px;
			@include fontH2($black, 30px)
		}
		.skill{
			flex-basis: content;
		}
		.skill__title{
			font-size: 70px;
			.skill__title_gray{
				font-size: 25px;	
			}
		}
		.skill__subtitle{
			@include fontP($black, 16px);
		}
	}

	.services{
		.services__title{
			@include fontH2($white, 30px);
		}
		.services-boxes{
			.service-box{
				width: 20%;
			}
			.service-box__description{
				font-size: 15px;
			}
		}
	}

	.advantages{
		.advatages__title{
			@include fontH2($black, 30px);
		}
		.advantages__description{
			@include fontP($black, 16px);
		}
	}

	.sales{
		.brands{
			width: 50%;
			display: flex;
			justify-content: center;
			img{
				width: 70%;
			}
		}
		.sales-container__title{
			@include fontH2($white,30px);
		}
		.sales-container__text{
			@include fontP(#f2f2f2, 16px);
		}
	}

	.calculator{
		.calculator__title{
			@include fontH2($black, 30px);
		}

		.quiz__form{
			.form__title{
				@include fontH3($black, 18px);
			}
			.form__content{
				padding: 0 20px;
			}
			.form__item{
				.form__lable{
					font-size: 14px;
				}
				.form__list{
					width: 80%;
				}
				.list__item{
					font-size: 14px;
				}
				.form__area{
					display: flex;
					align-items: center;
					width: 80%;
				}
				.form__number{
					font-size: 14px;
				}
			}
		}

		.design-boxes{
			@include flexble(flex-start,space-around);
			.design-box{
				max-width: 300px;
				flex-basis: content;
				.design-box__title{
					@include fontH4($black);
					font-size: 16px;
				}
				.design-box__text{
					width: 100%;
					font-size: 14px;
				}
				.design__check{
					bottom: 16rem;
					left: 18rem;
				}
			}
		}

		.coverings{
			@include flexble(flex-start, flex-start);
			.covering__box{
				margin-bottom: 20px;
				margin-left: 1%;
				margin-right: 1%;
				max-width: 200px;
			}
			.coverings__title{
				@include fontH4($black);
				font-size: 16px;
				padding:8px 12px;
			}
			.covering__check{
				bottom: 8rem;
				left:11.5rem;
			}
		}

		.form-body-end{
			padding:62px;
			.form-body-end__title{
				@include fontH3($black, 18px);
			}
			.form-body-end__arrow{
				position: absolute;
				left: 20rem;
				top:7.8rem;
			}
			.form-body-end__text{
				@include fontP($black, 16px);
			}
		}

		.quiz__steps{
			padding: 24px 32px;
			border-top: 1px solid #E0E0E0;
			@include flexble(center, space-between);
			.scale__text{
				font-size: 14px;
			}
			.progress-bar{
				margin-top: 8px;
				width: 480px;
			}
			.step__buttons{
				margin-left: 5px;
			}
		}

		.repair-cost{
			.repair-cost__title{
				font-size: 16px;
			}
			.repair-cost__price{
				font-size: 18px;
			}
			.repair-cost__included{
				font-size: 14px;
			}
			.repair-cost__deadline{
				font-size: 14px;
			}
		}

		.loyalty-program{
			.loyalty-program__title{
				@include fontH3($black, 18px);
			}
			.loyalty-program__description{
				font-size: 14px;
			}
			.loyalty-program__form{
				.loyalty-program__input{
					width: 95%;
				}
			}
		}	
		
	}

	.work-stages{
		.work-stages__title{
			@include fontH2($white, 30px);
		}
		.stage-box{
			width: 31%;
		}
		.stage-box__title{
			@include fontH3($white, 18px);
			background:url(../img/stage-arrow.svg) no-repeat 95% 16%;
			background-size: 70%;

		}
		.nobg{
			background: none;
		}
		.stage-box__desription{
			font-size: 16px;	
		}
	}

	.object-map{
		@include flexble(center,space-between);
		.object-map__content{
			padding-left: 28px;
			margin-right: 5%;
		}
		.object-map__title{
			@include fontH2($black, 30px);
		}
		.object{
			.object__text{
				@include fontH4($black);
				font-size: 16px;
			}
		}
	}

	.questions{
		.questions__title{
			@include fontH3($white, 18px);
		}
		.questions__description{
			
			max-width: 395px;
			@include fontP($white, 16px);
		}
		.form__input{
			width: 200px;
			font-size: 14px;
		}
	}

	.works{
		.works-header{
			.works-arrows{
				margin-right: 60px;
			}
		}
		.works__title{
			@include fontH2($black, 30px);
		}
		
		.works-slider__item{
			width: 620px;
			height: 400px;
		}
		
		.works-slider__title{
			@include fontH3($black, 18px);
		}
		
		.works-more{
			width: 120px;
			font-size: 16px;
		}
	}

	.feedback{
		.feedback__title{
			@include fontH2($black, 30px);
		}
		.feedback-boxes{
			@include flexble(flex-start,space-between);
			flex-wrap: wrap;
			padding-top: 40px;
		}
		.feedback-box{
			margin-bottom: 20px;
			max-width: 488px;
			display: none;
			.feedback-box__title{
				@include fontH3($black, 18px);
			}
			.feedback-box__text{
				width: 424px;
				@include fontP(#828282, 16px);
			}
		}
	}

	.footer{
		.footer__call-back{
			border-right: 1px solid #F2F2F2;
			padding-right: 130px;
		}
		.footer__title{
			font-size: 24px;
		}
		.footer__subtitle{
			font-size: 14px;
		}
		.footer-form__input{
			margin-bottom: 16px;
			padding-left: 8px;
			width: 284px;
			font-size: 18px;
		}
		.communication-options__desription{
			font-size: 12px;
		}
		.communication-options__text{
			font-size: 18px;
		}
		.chats__names{
			font-size: 12px;
		}
		
		.chat{
			font-size: 14px;
		}
		.agree-link{
			font-size: 12px;
		}
	}

}

@media screen and (max-width: 1160px){
	.questions{
		.questions__content{
			padding-right: 10px;
		}
		.questions__description{
			width: 100%;
			@include fontP($white, 16px);
		}
		.form__input{
			width: 150px;
		}
		.form__agree-text{
			font-size: 10px;
		}
	}
}

@media screen and (max-width: 1105px){
	.calculator{
		.design-boxes{
			@include flexble(flex-start,space-around);
			.design-box{
				max-width: 280px;
				flex-basis: content;
				.design-box__title{
					@include fontH4($black);
					font-size: 16px;
				}
				.design-box__text{
					width: 90%;
					font-size: 12px;
				}
				.design__check{
					width: 20px;
					bottom: 14.8rem;
					left: 16.7rem;
				}
			}
		}

		.coverings{
			@include flexble(flex-start, flex-start);
			.covering__box{
				width: 184px;
			}
			.coverings__title{
				font-size: 14px;
			}
			.covering__check{
				width: 18px;
				bottom: 7.7rem;
				left:10.9rem;
			}
		}

		.quiz__steps{
			.scale__text{
				font-size: 14px;
			}
			.progress-bar{
				margin-top: 8px;
				width: 440px;
			}
			
		}
	}

	.object-map{
		.object{
			width: 90%;
			padding: 10px 15px;
		}
		.object-map__content{
			padding-left: 28px;
			margin-right: 2%
		}
		.object-map__title{
			@include fontH2($black, 30px);
		}
		.object{
			.object__text{
				@include fontH4($black);
				font-size: 16px;
			}
		}
	}

	.feedback{
		.feedback-box{
			max-width: 450px;
			display: none;
			.feedback-box__title{
				@include fontH3($black, 18px);
			}
			.feedback-box__text{
				width: 424px;
				@include fontP(#828282, 14px);
			}
		}
	}
}

@media screen and (max-width: 1024px){
	.hero{
		.hero__title{
			font-size: 40px;
			width: 450px;
		}
		.hero__subtitle{
			width: 600px;
			font-size: 18px;
		}
		.btn_transaprent{
			font-size: 14px;
			margin-bottom: 70px;
		}
	}

	.header{
		min-height: 70px;
		.call-back__link{	
			font-size: 16px;
		}
		.btn_transaprent{
			padding: 7px 14px;
			font-size: 14px;
		}
	}

	.about{
		.wrapper{
			padding-bottom:80px;
		}
		.about__title{
			width: 500px;
			padding-top: 70px;
			@include fontH2($black, 30px)
		}
		.about__slills{
			@include flexble(center, space-between);
			flex-wrap:wrap;
		}
		.skill{
			width: 32%;
		}
		.skill__title{
			flex-basis: content;
			padding-bottom: 14px;
			font-size: 70px;
			.skill__title_gray{
				font-size: 18px;
			}
		}
		.skill__subtitle{
			@include fontP($black, 16px);
		}
	}

	.services{
		.wrapper{
			padding-bottom: 70px;
		}
		.services__title{
			@include fontH2($white, 30px);
			padding-top: 70px;
			padding-bottom: 44px;
		}
		.services-boxes{
			.service-box{
				width: 23%;
			}
			.service-box__icon{
				padding-left: 16px;
				width: 70px;
			}
			.service-box__description{
				font-size: 14px;
				padding-left: 16px;
				padding-bottom: 20px;
			}
		}
	}

	.advantages{
		background: $white;
		padding: 50px 0;
		@include flexble(center,space-between);
		.advantages__img{
			max-height: 572px
		}
		.advantages__content{
			padding-left: 50px;
			padding-right: 50px;
		}
		.advatages__title{
			@include fontH2($black, 25px);
			padding-bottom: 20px;
		}
		.advantages__description{
			max-width:384px;
			@include fontP($black, 14px);
		}
	}

	.sales{
		height: 410px;
		.brands{
			width: 50%;
		}
		.sales-container{
			background-size: 60%;
		}
		.sales-container__title{
			@include fontH2($white, 25px);
			padding-top: 50px;
			padding-left: 50px;
			padding-bottom: 10px;
		}
		.sales-container__text{
			@include fontP(#f2f2f2, 14px);
			max-width: 280px;
			padding-left: 50px;
		}
	}

	.calculator{
		.wrapper{
			padding: 50px 0;
		}
		.calculator__title{
			@include fontH2($black, 25px);
			padding-bottom: 30px;
		}
		.quiz{
			@include flexble(space-around, center);
			flex-wrap: wrap;
		}
		.quiz__content{
			width: 100%;
			height: 483px;
		}
		.quiz__form{
			height: 400px;
			.form__title{
				@include fontH3($black, 18px);
			}
		}
		.design-boxes{
			padding-top: 32px;
			@include flexble(flex-start, space-around);
			.design-box{
				max-width: 300px;
				.design__check{
					bottom:15.5rem;
					left: 18rem;
				}
			}
		}
		.coverings{
			@include flexble(flex-start, flex-start);
			flex-wrap: wrap;
			padding-top: 15px;
			.covering__box{
				margin-left: 26px;
				max-width: 219px;;
			}
			.covering__check{
				bottom: 7.7rem;
				left: 10.8rem;
			}
		}
		.form-body-end{
			padding:50px;
			position: relative;
			.form-body-end__title{
				@include fontH3($black, 20px);
				padding-top: 30px;
			}
			.form-body-end__arrow{
				display: none;
			}
			.form-body-end__text{
				@include fontP($black, 18px);
			}
		}
		.quiz__steps{
			.scale__text{
				font-size: 16px;
			}
			.progress-bar{
				width: 500px;
				.progress-bar_gray{
					display: block;
					width: 16.6%; 
					height: 4px;
					background: $yellow;
					border-radius: 2px;
				}
			}
			.back{
				margin-right: 10px;
			}
		}
		.calculator__content{
			margin-top: 10px;
			height: 450px;
			width: 100%;
		}
	}

	.work-stages{
		.wrapper{
			padding:50px 0;
		}
		.work-stages__title{
			@include fontH2($white, 25px);
		}
		.stages{
			margin-top: 40px;
			@include flexble(center,space-between);
		}
		
		.stage-box__title{
			@include fontH3($white, 14px);
		}
		.stage-box__desription{
			font-size: 12px;
		}
	}

	.object-map{
		.object-map__title{
			@include fontH2($black, 25px);
			max-width: 370px;
			padding-bottom: 54px;
		}
		.object{
			padding: 10px 10px;
			.object__text{
				@include fontH4($black);
				font-size: 14px;
			}
			img{
				width: 30px;
			}
		}
		.map{
			width: 50%;
			iframe{
				width:100%;
				height: 500px;
			}
		}
	}

	.questions{
		.questions__content{
			border: 0;
		}
		.questions__title{
			@include fontH3($white, 16px);
		}
		.questions__description{
			@include fontP($white, 12px);
		}
		.form__input{
			margin-right: 12px;
			width: 150px;
			padding: 5px 10px;
			font-size: 12px;
		}
		.btn_transaprent{
			padding: 5px 10px;
			font-size: 12px;
		}
		.form__agree-text{
			font-size: 9px;
		}
	}

	.works{
		.works__content{
			padding-top: 40px;
			padding-left: 80px;
		}
		.works-header{
			.works-arrows{
				margin-right: 100px;
				.arrow{
					width: 35px;
					height: 35px;
				}
				.prev-arrow{
					background-size: 20px;
				}
				
				.next-arrow{
					background-size: 20px;
				}
			}
		}
		.works__title{
			@include fontH2($black, 25px);
		}
		.works-slider{
			margin-top: 40px;
		}
		
		.works-slider__item{
			width: 500px;
			height: 300px;
		}
		
		.works-slider__title{
			@include fontH3($black, 16px);
		}
		.works-more{
			width: 110px;
			font-size: 14px;
		}
	}

	.feedback{
		.wrapper{
			padding-top: 20px;
		}
		.feedback-header{
			@include flexble(center,space-between);
		}
		.feedback__title{
			@include fontH2($black, 25px);
		}
		.feedback-boxes{
			@include flexble(flex-start,space-around);
			flex-wrap: wrap;
			padding-top: 40px;
		}
		.feedback-box{
			margin-bottom: 20px;
			box-sizing: border-box;
			max-width: 350px;
			max-height: 350px;
			display: none;
			.feedback-box__content{
				padding:15px;
			}
			.feedback-box__title{
				@include fontH3($black, 16px);
			}
			.feedback-box__text{
				@include fontP(#828282, 14px);
				width: 100%;
			}
		}
		.btn_transaprent{
			font-size: 14px;
			padding: 6px 10px;
		}
		.feedback__btn-next{
			margin-top: 15px;
			margin-bottom: 25px;
		}
		.noContent{
			border:none;
		}
	}

	.footer{
		.wrapper{
			padding: 30px 0;
		}
		.footer__call-back{
			padding-right: 30px;
		}
		.footer__title{
			max-width: 360px;
			margin-top: 10px;
			padding-bottom: 20px;
			font-size: 20px;
		}
		.footer__subtitle{
			max-width: 460px;
			font-size: 14px;
			line-height: 18px;
			color: #F2F2F2;
		}
		.footer-form__input{
			margin-bottom: 10px;
			padding-left: 8px;
			width: 250px;
			font-size: 16px;
		}
		.footer-form__text{
			max-width: 350px;
			font-size: 10px;
		}
		.btn_transaprent{
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 6px 10px;
			font-size: 14px;
		}
		.communication-options{
			padding-left: 30px;
		}
		.communication-options__boxes{
			margin-bottom: 30px;
		}
		.communication-options__box{
			padding-right: 10px;
		}
		.communication-options__desription{
			font-size: 12px;
		}
		.communication-options__text{
			font-size: 16px;
		}
		.chats__names{
			font-size: 12px;
		}
		.chat-boxes{
			margin-bottom: 50px;
		}
		.chat{
			padding:6px 10px;
			font-size: 12px;
		}
		.agree-link{
			margin-bottom: 12px;
			font-size: 12px;
		}
		.agree__info{
			font-size: 12px;
		}
	}

	

}

@media screen and (max-width: 765px){
	.about{
		.wrapper{
			padding-bottom:80px;
		}
		.about__title{
			width: 380px;
			padding-top: 50px;
			padding-bottom: 30px;
			@include fontH2($black, 25px)
		}
		.about__slills{
			@include flexble(center, flex-start);
			flex-wrap:wrap;
		}
		.skill{
			width: 80%;
		}
		.skill__title{
			font-size: 50px;
			.skill__title_gray{
				font-size: 18px;
			}
		}
		.skill__subtitle{
			@include fontP($black, 16px);
		}
	}

	.services{
		.wrapper{
			padding-bottom: 40px;
		}
		.services__title{
			@include fontH2($white, 25px);
			padding-top: 40px;
			padding-bottom: 30px;
		}
		.services-boxes{
			justify-content: space-around;
			flex-wrap: wrap;
			.service-box{
				margin-right: 5%;
				margin-bottom: 10px;
				width: 30%;
			}
			.service-box__icon{
				padding-left: 16px;
				width: 70px;
			}
			.service-box__description{
				font-size: 12px;
				padding-left: 16px;
				padding-bottom: 20px;
			}
		}
	}

	.calculator{
		.design-boxes{
			padding-top: 32px;
			@include flexble(flex-start, space-around);
			.design-box{
				max-width: 250px;
				.design-box__title{
					font-size: 14px;
				}
				.design-box__text{
					font-size: 10px;
				}
				.design__check{
					bottom:13.5rem;
					left: 15rem;
				}
			}
		}
		.coverings{
			@include flexble(flex-start, flex-start);
			flex-wrap: wrap;
			.covering__box{
				margin-left: 26px;
				max-width: 150px;
				.coverings__title{
					font-size: 10px;
				}
			}
			.covering__check{
				bottom: 6.4rem;
				left: 8.7rem;
			}
		}
		.form-body-end{
			.form-body-end__title{
				@include fontH3($black, 18px);
			}
			.form-body-end__text{
				@include fontP($black, 16px);
			}
		}
		.quiz__steps{
			.scale__text{
				font-size: 16px;
			}
			.progress-bar{
				width: 330px;
				.progress-bar_gray{
					display: block;
					width: 16.6%; 
					height: 4px;
					background: $yellow;
					border-radius: 2px;
				}
			}
		}
		.loyalty-program{
			padding:20px;
			.loyalty-program__title{
				@include fontH3($black, 18px);
			}
			.loyalty-program__description{
				font-weight: normal;
			}
			.loyalty-program__form{
				.loyalty-program__input{
					width: 315px;
					height: 30px;
					font-size: 14px;
				}
				.loyalty-program__agree-text{
					padding-top: 15px;
					font-size: 10px;
				}
			}
		}
	}

	.work-stages{
		.wrapper{
			padding:50px 0;
		}
		.work-stages__title{
			@include fontH2($white, 20px);
		}
		.stages{
			margin-top: 40px;
			@include flexble(center,space-between);
		}
		
		.stage-box__title{
			@include fontH3($white, 12px);
			background-size: 60%;
		}
		.stage-box__desription{
			display: block;
			width: 195px;
			font-size: 10px;
		}
	}

	.object-map{
		flex-direction: column;
		.object-map__content{
			width: 95%;
		}
		.object-map__title{
			@include fontH2($black, 20px);
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}
		.objects{
			@include flexble(center, space-around);
		}
		.object{
			width: 23%;
			padding: 10px 10px;
			.object__text{
				@include fontH4($black);
				font-size: 10px;
				padding-left: 10px;
			}
			img{
				width: 20px;
			}
		}
		.map{
			width: 100%;
			iframe{
				width:100%;
				height: 500px;
			}
		}
	}

	.questions{
		.wrapper{
			flex-direction: column;
		}
		.questions__content{
			margin: 15px;
		}
	}

	.works{
		.works-header{
			.works-arrows{
				margin-right: 30px;
			}
		}
		.works__title{
			@include fontH2($black, 20px);
		}
		
		.works-slider__item{
			width: 400px;
			height: 250px;
		}
		
		.works-slider__title{
			@include fontH3($black, 14px);
		}
		.works-more{
			width: 100px;
			font-size: 12px;
		}
	}

	.feedback{
		.feedback-header{
			@include flexble(center,space-between);
		}
		.feedback__title{
			@include fontH2($black, 20px);
		}
		.feedback-box__text{
			@include fontP(#828282, 12px);
			width: 100%;
		}
		.btn_transaprent{
			font-size: 12px;
			padding: 5px 8px;
		}
	}

	.footer{
		.wrapper{
			flex-direction: column;
		}
		.footer__call-back{
			border: none;
			padding-right: 0;
			padding-left: 30px;
			border-bottom: 1px solid #F2F2F2;
		}
		
		.btn_transaprent{
			font-size: 12px;
		}
		.communication-options{
			margin-top: 20px;
		}
		.communication-options__boxes{
			margin-bottom: 15px;
		}
	}


}

@media screen and (max-width: 640px){
	.hero{
		background: #F2F2F2 url(../img/hero__video.png) no-repeat center center;
		background-size: 100% 100%;
		.hero__title{
			font-size: 20px;
			width: 320px;
			padding-top: 50px;
		}
		.hero__subtitle{
			width: 250px;
			margin-bottom: 30px;
			font-size: 10px;
		}
		.btn_transaprent{
			padding: 4px 9px;
			font-size: 12px;
			margin-bottom: 20px;
		}
	}

	.header{
		min-height: 60px;
		.wrapper{
			@include flexble(center, space-between);
		}
		.call-back{
			@include flexble(center,space-between);
		}
		.call-back__icon{
			padding-top: 5px;
			width: 13px;
			padding-right: 10px;
			display: inline-block;
		}
		.logo{
			width: 80px;
		}
		.call-back__link{
			display: none;
		}
		.btn_transaprent{
			padding: 4px 9px;
			font-size: 12px;
		}
	}

	.about{
		.wrapper{
			padding-bottom:40px;
		}
		.about__title{
			width: 320px;
			padding-top: 50px;
			padding-bottom: 30px;
			@include fontH2($black, 20px)
		}
		.about__slills{
			@include flexble(center, center);
			flex-wrap:wrap;
		}
		.skill{
			width: 80%;
			margin-bottom: 20px;
		}
	}

	.services{
		.wrapper{
			padding-bottom: 40px;
		}
		.services__title{
			@include fontH2($white, 20px);
			padding-top: 40px;
			padding-bottom: 30px;
			text-align: center;
		}
		.services-boxes{
			justify-content: center;
			flex-wrap: wrap;
			.service-box{
				margin: 0;
				width: 50%;
				margin-bottom: 10px;
				@include flexble(center,center);
				flex-direction: column;
				padding: 10px 10px;
			}
			.service-box__icon{
				padding: 0;
				text-align: center;
			}
			.service-box__description{
				text-align: center;
				font-size: 10px;
				padding: 0;
				padding-top: 5px;
			}
		}
	}

	.advantages{
		padding: 0;
		@include flexble(center,center);
		flex-direction: column;
		.advantages__img{
			width: 100%;
			max-height: 572px
			
		}
		.advantages__content{
			padding: 10px 10px;
		}
		.advatages__title{
			@include fontH2($black, 20px);
			padding-bottom: 15px;
		}
		.advantages__description{
			@include fontP($black, 12px);
		}
	}

	.sales{
		@include flexble(center,space-between);
		flex-direction: column-reverse;
		.brands{
			width: 90%;
			display: flex;
			justify-content: center;
		}
		.sales-container{
			width: 100%;
			height: 250px;
			background: url(../img/handmoney.svg) no-repeat bottom right $blue;
			background-size: 38%;
		}
		.sales-container__title{
			@include fontH2($white, 20px);
			padding-top: 20px;
			padding-left: 20px;
			padding-bottom: 10px;
		}
		.sales-container__text{
			@include fontP(#f2f2f2, 12px);
			display: block;
			max-width: 220px;
			padding-left: 20px;
	
		}
	}

	.work-stages{
		.wrapper{
			padding:20px 0;
		}
		.work-stages__title{
			@include fontH2($white, 20px);
			text-align: center;
		}
		.stages{
			margin-top: 20px;
			@include flexble(center,center);
			flex-direction: column;
		}
		.stage-box{
			width: 60%;
			margin-bottom: 25px;
		}
		.stage-box__title{
			@include fontH3($white, 16px);
			background:none;
			padding-bottom: 5px;
		}
		.stage-box__desription{
			font-size: 14px;
			margin: 0;
		}
	}

	.object-map{
		.object-map__content{
			padding: 0;
		}
		.object-map__title{
			@include fontH2($black, 20px);
			text-align: start;
			width: 250px;
			margin: 0;
			margin-bottom: 10px;
		}
		.objects{
			justify-content: space-between;
		}
		.object{
			width: 30%;
			padding: 10px 10px;
			.object__text{
				@include fontH4($black);
				font-size: 8px;
				padding-left: 5px;
			}
			img{
				width: 20px;
			}
		}
		.map{
			iframe{
				height: 200px;
			}
		}
	}

	.questions{
		.wrapper{
			flex-direction: column;
		}
		.questions__content{
			margin: 15px;
		}
		.form{
			justify-content: center;
			align-items: center;
			flex-direction: column;
			input{
				margin: 0;
				width: 50%;
				margin-bottom: 10px;
			}
			.btn_transaprent{
				width: 50%;
			}
		}
		.form__agree-text{
			margin: 10px 0;
		}
	}

	.works{
		.works__content{
			padding-left: 40px;
		}
		.works-header{
			.works-arrows{
				margin-right: 10px;
				.arrow{
					width: 25px;
    				height: 25px;
				}
			}
		}
		.works__title{
			@include fontH2($black, 16px);
		}
		
		.works-slider__item{
			width: 300px;
			height: 200px;
		}
		
		.works-slider__title{
			@include fontH3($black, 14px);
		}
		.works-more{
			width: 100px;
			font-size: 12px;
		}
	}

	.feedback{
		.feedback-header{
			@include flexble(center,space-between);
		}
		.feedback__title{
			@include fontH2($black, 20px);
		}
		.feedback-box__text{
			@include fontP(#828282, 12px);
			width: 100%;
		}
		.btn_transaprent{
			line-height: 15px;
			font-size: 12px;
			padding: 5px 8px;
		}
	}

	.footer{
		.communication-options__text{
			font-size: 12px;
		}
	}

	.calculator{
		.calculator__title{
			@include fontH2($black, 20px);
		}
		.quiz__content{
			width: 100%;
			height: 483px;
		}
		.quiz__form{
			.form__title{
				font-size: 14px;
				padding: 15px 20px;
			}
			.form__content{
				padding: 0 10px;
			}
			.form__item{
				.form__list{
					width: 70%;
				}
				.list__item{
					padding-top: 6px;
					height: 25px;
					line-height: 10px;
					font-size: 12px;
				}
				.form__area{
					margin-left: 42px;
				}
				.form__number{
					width: 200px;
					height: 25px;
				}
				.form__lable{
					font-size: 12px;
				}	
			}
			
		}
		.quiz__steps{
			.forward{
				font-size: 14px;
				width: 80px;
				background: #47A1F8 url(../img/btn__arrow_white.svg) no-repeat 90% 50%;
				background-size: 17%;
			}
			.scale__text{
				font-size: 14px;
			}
			.progress-bar{
				width: 150px;
			}
			.back{
				margin-right: 5px;
			}
		}

		.design-boxes{
			padding-top: 15px;
			@include flexble(flex-start, space-around);
			flex-wrap: wrap;
			.design-box{
				margin-bottom: 15px;
				max-width: 170px;
				.design-box__title{
					padding: 5px;
					font-size: 10px;
				}
				.design-box__text{
					padding: 5px;
					font-size: 8px;
				}
				.design__check{
					bottom:9rem;
					left: 9.9rem;
				}
			}
		}

		.coverings{
			padding-top: 10px;
			@include flexble(flex-start, flex-start);
			flex-wrap: wrap;
			.covering__box{
				margin-bottom: 13px;
				margin-left: 26px;
				max-width: 130px;
				.coverings__title{
					font-size: 10px;
				}
			}
			.covering__check{
				bottom: 5.7rem;
				left: 7.5rem;
			}
		}

		.form-body-end{
			.form-body-end__title{
				@include fontH3($black, 16px);
			}
			.form-body-end__text{
				@include fontP($black, 12px);
			}
		}

		.loyalty-program{
			padding:20px;
			.loyalty-program__title{
				@include fontH3($black, 16px);
			}
			.loyalty-program__description{
				font-weight: normal;
				font-size: 12px;
			}

			.btn_transaprent{
				font-size: 14px;
    			line-height: 18px;
			}

			.loyalty-program__form{
				.loyalty-program__input{
					width: 250px;
					height: 30px;
					font-size: 14px;
				}
			}
		}


	}

}

@media screen and (max-width: 365px){
	.header{
		.btn_transaprent{
			line-height: 15px;
		}
	}

	.works{
		.works__content{
			padding-left: 20px;
		}
		.works-header{
			.works-arrows{
				.prev-arrow{
					background-size: 15px;
				}
				.next-arrow{
					background-size: 15px;
				}
			}
		}
	}

	.footer{
		.chat-boxes{
			margin-bottom:30px;
		}
		.chat{
			padding: 6px 10px;
    		font-size: 10px;
		}
	}

	.calculator{
		.quiz__form{
			.form__item{
				.list__item{
					padding-top: 6px;
					height: 25px;
					line-height: 10px;
					font-size: 10px;
				}
				.form__number{
					width: 150px;
					font-size: 12px;
				}	
			}
			
		}

		.quiz__steps{
			.progress-bar{
				width: 130px;
			}
		}

		.coverings{
			.covering__box{
				max-width: 110px;
				.coverings__title{
					font-size: 8px;
				}
			}
			.covering__check{
				bottom: 4.9rem;
				left: 6.3rem;
			}
		}
	}

	.hero{
		.hero__title{
			width: 250px;
		}
	}

	.about{
		.about__title{
			width: 300px;
			
		}	
	}

}


